@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Literata:opsz,wght@7..72,400;500;600;700&display=swap');

@theme {
  /* Font Family Definitions */
  --font-headline: "Literata", Georgia, serif;
  --font-sans: "Plus Jakarta Sans", system-ui, sans-serif;
  --font-body: "Plus Jakarta Sans", system-ui, sans-serif;

  /* Custom Color System matching Modern Heritage Cafe Design System */
  --color-primary: #204e2b;
  --color-on-primary: #ffffff;
  --color-primary-container: #386641;
  --color-on-primary-container: #afe2b3;
  --color-inverse-primary: #a0d3a5;

  --color-secondary: #3d6924;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #baee99;
  --color-on-secondary-container: #416d28;

  --color-tertiary: #384c00;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #4b6500;
  --color-on-tertiary-container: #bfe36d;

  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;

  --color-background: #fff8ef;
  --color-on-background: #201b0c;

  --color-surface: #fff8ef;
  --color-on-surface: #201b0c;
  --color-surface-variant: #ece2c9;
  --color-on-surface-variant: #414941;
  --color-outline: #727970;
  --color-outline-variant: #c1c9be;

  --color-surface-dim: #e3d9c1;
  --color-surface-bright: #fff8ef;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #fdf3da;
  --color-surface-container: #f7edd4;
  --color-surface-container-high: #f1e8cf;
  --color-surface-container-highest: #ece2c9;

  --color-inverse-surface: #35301f;
  --color-inverse-on-surface: #faf0d7;

  /* Custom Borders & Distances */
  --spacing-base: 8px;
  --spacing-margin-mobile: 16px;
  --spacing-margin-desktop: 40px;
  --spacing-gutter: 24px;
}

/* Custom trackline design */
.trackline {
  background-image: linear-gradient(to right, #727970 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 12px 2px;
  background-repeat: repeat-x;
  height: 2px;
  width: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

